argcomplete==3.6.2
attrs==25.3.0
beautifulsoup4==4.13.3
btrfsutil==6.15
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
dbus-python==1.4.0
distro==1.9.0
docopt==0.6.2
evdev==1.9.0
filelock==3.18.0
idna==3.10
lxml==6.0.0
moddb==0.12.0
numpy==2.3.1
packaging==25.0
pillow==11.3.0
psutil==7.0.0
PyAudio==0.2.14
pybind11==2.13.6
pycairo==1.28.0
pycparser==2.22
pygdbmi==0.11.0.0
PyGObject==3.52.3
PyYAML==6.0.2
requests==2.32.4
sentry-sdk==2.32.0
smbus==1.1
soupsieve==2.6
TBB==0.2
typing_extensions==4.14.1
urllib3==2.5.0
websockets==15.0.1
wheel==0.45.1
yt-dlp==2025.6.30
